@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@dark-blue: hsl(209, 23%, 22%);
@very-dark-blue-b: hsl(207, 26%, 17%);
@very-dark-blue-t: hsl(200, 15%, 8%);
@dark-gray: hsl(0, 0%, 52%);
@very-light-gray: hsl(0, 0%, 98%);
@white: hsl(0, 0%, 100%);

@scrollbar-width: 0.7rem;
@header-height: 5rem;

:root {
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

/*----------------------COMMON ELEMENT STYLES---------------------*/

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

.width-container {
    width: 100%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

button {
    background: none;
    font: unset;
    border: none;
    cursor: pointer;
}

/*----------------------COMMON PAGES STYLES----------------------*/

body {
    --text-clr: @very-dark-blue-t;
    --background-clr: @very-light-gray;
    --elements-background: @white;
    --input-clr: @dark-gray;

    background-color: var(--background-clr);
    color: var(--text-clr);

    &.dark-mode {
        --text-clr: @white;
        --background-clr: @very-dark-blue-b;
        --elements-background: @dark-blue;
        --input-clr: @white;
    }
}

.content-element {
    background-color: var(--elements-background);
    box-shadow: 0 0 0.5rem #00000033;
}

header {
    height: @header-height;
    position: relative;
    width: 100%;
    overflow: hidden;

    >.width-container {
        padding: 1rem;
        height: 100%;

        >* {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    h1 {
        font-weight: 600;
        display: inline-block;
    }

    #dark-mode-switch {
        float: right;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--text-clr);
        border: 1px solid transparent;
        border-radius: 1em;
        transition: border 0.5s ease-in-out;

        &:hover {
            border-color: var(--text-clr);
        }

        &:focus {
            outline: none;
        }

        >* {
            float: left;
        }

        svg {
            stroke-width: 0.17em;
            margin: 0.17em 0.3em 0 0;
            stroke: var(--text-clr);
            fill: @white;
            height: 1em;
            position: relative;
            overflow: visible;
        }
    }
}

main {
    height: calc(100% - @header-height);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: @scrollbar-width;
    }
    
    &::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-button {
        display: none;
    }
     
    &::-webkit-scrollbar-thumb {
        .content-element;
        background-color: var(--elements-background);
        outline: var(--input-clr);
        border-radius: @scrollbar-width / 2;
        transition: background-color 0.4s ease-in-out;
    
        &:hover {
            background-color: var(--input-clr);
            outline: var(--elements-background);
        }
    }
}

/*----------------------LIST PAGE STYLES-------------------------*/

main>.filter-container {
    padding: 1rem 1rem;
    margin-top: 1rem;

    >* {
        height: 4rem;
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 0.4rem;
        color: var(--input-clr);
        font: inherit;
        font-weight: 300;

        transition: box-shadow 0.4s ease-in-out;

        &:focus, &:focus-within {
            outline: none;
            box-shadow: 0 0 0.65rem #00000088;
            /*border-color: @dark-gray;*/
        }
    }
}
    
#country-name-input {
    min-width: 22rem;
    width: 30%;
    max-width: 40rem;
    background-image: url('icons/magnifier-gray.svg');
    background-position: 2rem 1.3rem;
    background-size: 1.4rem;
    background-repeat: no-repeat;
    padding-left: 5rem;

    &::placeholder {
        color: var(--input-clr);
    }
}
.dark-mode #country-name-input {
    background-image: url(icons/magnifier-white.svg);
}

@select-name: ~'region-select';
@select-class: ~'.@{select-name}';

#@{select-name}-holder {
    width: 14rem;
    float: right;
    cursor: pointer;

    @{select-class}-container {
        height: 100%;
        cursor: inherit;

        @{select-class}__control {
            background: inherit;
            height: 100%;
        
            outline: none;
            box-shadow: none;
            border: 0;

            @{select-class}__value-container {
                background-attachment: fixed;

                @{select-class}__single-value {
                    color: var(--input-clr);
                }

                @{select-class}__placeholder {
                    color:var(--input-clr);
                }
            }

            @{select-class}__indicators {
                @{select-class}__indicator-separator {
                    display: none;
                }
            }
        }
        
        @{select-class}__menu {
            background-color: var(--elements-background);
            @{select-class}__menu-list {
                @{select-class}__option {
                    height: 3rem;
                    line-height: 3rem;
                    padding: 0 1rem;

                    &--is-focused {
                        background-color: @dark-gray;
                        color: var(--background-clr);
                    }
                    &--is-selected {
                        background-color: var(--text-clr);
                        color: var(--elements-background);
                    }
                }
            }
        }
    }
}

ul#countries-list {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: baseline;
    /*justify-content: styled at media queryies*/
}

li.country-card {
    width: 100%;
    border-radius: 0.6rem;
    margin: 1rem 1rem;
    overflow: hidden;

    &.last-row-non-first {
        justify-self: start;
        margin-left: 0;
    }

    >img {
        width: 100%;
        object-fit: contain;
        object-position: top;
        max-height: 18rem;
        overflow: hidden;
        box-shadow: 0 0 0.3rem #00000033;
    }

    ul.country-card-data {
        padding: 1rem;

        span.label {
            font-weight: 600;

            &:after {
                content: ': ';
            }
        }
    }
}

// -------------------------RESPONSIVNESS--------------------------------

@media only screen and (max-width: 300px) {
    #dark-mode-switch {
        .button-text {
            display: none;
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        font-size: 10px;
    }

    .width-container {
        width:  100%;
    }

    ul#countries-list {
        justify-content: space-around;
    }

	li.country-card {
        max-width: 250px;
        width: 90%;
        min-width: 100px;
        
        &.last-row-non-first {
            margin-left: 0;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .width-container {
        width:  600px;
    }

    ul#countries-list {
        justify-content: space-around;
    }

	li.country-card {
        max-width: 300px;
        
        &.last-row-non-first {
            margin-left: 0;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .width-container {
        width:  768px;
    }

    ul#countries-list {
        justify-content: space-between;
    }

	li.country-card {
        width: 48%;
        
        &.last-row-non-first {
            margin-left: 0;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .width-container {
        width:  992px;
    }

	li.country-card {
        width: 30%;
        
        &.last-row-non-first {
            margin-left: 5%;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .width-container {
        width:  1200px;
    }

	li.country-card {
        width: 22%;
        
        &.last-row-non-first {
            margin-left: 4%;
        }
    }
}